<div ng-cotroller="FooterController">
    <div ng-repeat="(key, value) in data.footer track by $index" ng-if="value.link =='terms'">
        <div class="container">
            <div class="custom-width">
                <div class="panel-og animated slideInRight">
                    <div class="col-md-3">
                        <p>{{value.Title }}</p>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="row">
                            <div class="right-inner-addon ">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="custom-width animated fadeIn" ng-bind-html="value.Body">

            </div>

        </div>
    </div>
</div>