<div ng-controller="TableCardController">
    <featured-banner type="tablecard"></featured-banner>
    <div class="mcholder">
        <div class="container">
            <div class="custom-width">
                <div class="panel-og">
                    <div class="col-md-3">
                        <p>{{title}}</p>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="row">
                            <!--<a href="#" class="thumbnails-icon"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a>-->
                            <!--<a href="#" class="list-icon"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>-->
                            <div class="right-inner-addon ">
                                <i class="glyphicon glyphicon-search"></i>
                                <input type="search" class="form-control" placeholder="Game search"
                                       ng-model="searchText"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="game-holder">
                    <div class="col-md-3 wow animated zoomIn"
                         dir-paginate="(key, value) in data.TableCardGames | itemsPerPage:20  | filter:searchText track by $index" pagination-id="tablec">
                        <div class="thumb">
                            <div class="hover">
                                <a class="play-btn wow animated flipInY"
                                   ng-click="onclickGameNewWindow(value.field_games_link, value.language,value.game)">
                                    <p>PLAY NOW</p>
                                </a>
                            </div>
                            <img class="animated fadeIn"
                                 ng-src="{{value.image_path}}/{{value.thumbnail_image.filename}}"/>
                            <section>
                                <p class="jackpot"><span class="count"><ticker code="{{value.game}}"></ticker></span>
                                </p>
                                <p class="game-type">{{value.node_title}}</p>
                                <p class="game-category">{{value.game_category}}</p>
                            </section>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="paginate">
                        <dir-pagination-controls pagination-id="tablec"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</div>