<div ng-controller="LoginController">
  <div ng-if="emptyCookie()">
  <form class="form-inline" id="loginform">
    <label class="form-title">Login</label>
    <div class="form-group">
      <label for="exampleInputName2">Username</label>
      <input type="text" class="form-control" id="exampleInputName2" placeholder="Enter username" name="username" ng-model="user.name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail2">Password</label>
      <input type="password" class="form-control" id="exampleInputEmail2" placeholder="Enter password" name="password" ng-model="user.password">
    </div>
    <button type="submit" class="btn btn-login" onclick="login(1)">LOGIN</button>
  </form>
  </div>
  <div ng-show="notEmptyCookie()"><label>Hi {{retrieveCookie}}!</label>
    <a ng-click="removeCookie()" class="btn">LOGOUT</a>
  </div>

</div>



    <!--<p><a href="#">Register NOW!</a> Forgot username or password?</p>-->
