<div ng-controller="LoginController">
  <div ng-if="emptyCookie()">
  <form name="myform" novalidate class="form-inline" id="loginform">
    <label class="form-title">Login</label>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" ng-model="user.name" required />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Enter password" name="password" ng-model="user.password" required />
    </div>
    <button ng-disabled="myform.$invalid" type="submit" class="btn btn-login" onclick="login(1)">LOGIN</button>
  </form>
  </div>
  <div ng-show="notEmptyCookie()"><label><a ng-click="removeCookie()"  onclick="logout(1,1)" class="btn">Click here to logout {{retrieveCookie}}!</a>
  </label>
  </div>

</div>



    <!--<p><a href="#">Register NOW!</a> Forgot username or password?</p>-->
