<div ng-controller="LiveController">
    <featured-banner type="live"></featured-banner>
    <div class="container">
        <div class="custom-width">
            <div class="panel-og">
                <div class="col-md-3">
                    <p>{{title}}</p>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="row">
                        <a href="#" class="thumbnails-icon"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a>
                        <a href="#" class="list-icon"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                        <div class="right-inner-addon ">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="search" class="form-control" placeholder="Game search" ng-model="searchText" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="game-holder">
                <div class="col-md-3" ng-repeat=" (key, value) in data.LiveGames | filter:searchText">
                    <div class="thumb animated fadeInRightBig">
                        <div class="hover">
                            <a ng-click="onclickGameNewWindow(value.field_games_link, value.language,value.game)" class="play-btn wow animated flipInY">
                                <p>PLAY NOW</p>
                            </a>
                        </div>
                        <img ng-src="{{value.image_path}}/{{value.thumbnail_image.filename}}" />
                        <section>
                            <ticker code="{{value.game}}"></ticker>
                            <p class="game-type">{{value.node_title}}</p>
                            <p class="game-category">{{value.game_category}}</p>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
</div>