<div ng-controller="BannerController">
    <div class="banner">
        <uib-carousel>
            <uib-slide ng-repeat="(key, value ) in data.banner track by $index">
                <span ng-if="emptyCookie()">
                    <a class="bannerLink" ng-click="onclickNewWindowDemo(value.game_code, value.title)">
                        <img ng-src="{{imageUrl + value.banner_image.filename}}"/>
                    </a>
                </span>
                <span ng-if="notEmptyCookie()">
                    <a  class="bannerLink" ng-click="onclickGameNewWindow(value.game_link, value.language, value.game_code)">
                        <img ng-src="{{imageUrl + value.banner_image.filename}}"/>
                    </a>
                </span>
            </uib-slide>
        </uib-carousel>
    </div>
</div>