<div ng-controller="BannerController">
    <div class="banner">
        <uib-carousel interval="3000" no-wrap="noWrapSlides">
            <uib-slide ng-repeat="(key, value ) in data.banner track by $index">
                    <a ng-if="emptyCookie()" class="bannerLink" ng-click="onclickNewWindowDemo(value.game_code, value.title)">
                        <img ng-src="{{imageUrl + value.banner_image.filename}}"/>
                    </a>
                    <a ng-if="notEmptyCookie()" class="bannerLink" ng-click="onclickGameNewWindow(value.game_link, value.language, value.game_code)">
                        <img ng-src="{{imageUrl + value.banner_image.filename}}"/>
                    </a>
            </uib-slide>
        </uib-carousel>
    </div>
</div>