<div ng-controller="GamesController">
    <div class="container">
        <div class="custom-width">
            <div class="panel-og">
                <div class="col-md-3">
                    <p>Live Games</p>
                </div>
                <div class="col-md-6 col-md-offset-3">
                    <div class="row">
                        <a href="#" class="thumbnails-icon"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a>
                        <a href="#" class="list-icon"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                        <div class="right-inner-addon ">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="search" class="form-control" placeholder="Game search" ng-model="searchText" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="game-holder">
                <div class=" animated fadeIn col-md-3" ng-repeat="(key, value) in data.allGames | filter:searchText">
                    <div class="thumb">
                        <div class="hover">
                            <a ng-click="" class="play-btn wow animated flipInY" ng-href="{{value.field_games_link}}?language={{value.language}}&game={{value.game}}">
                            <p>PLAY NOW</p>
                            </a>
                        </div>
                        <img ng-src="{{value.image_path}}/{{value.thumbnail_image.filename}}" />
                        <section>
                            <p class="jackpot">￥139050972.65</p>
                            <p class="game-type">{{value.node_title}}</p>
                            <p class="game-category">{{value.game_category}}</p>
                        </section>
                    </div>
                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
                            codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0"
                            width=120
                            height=20>
                            <param name=movie value="{{picker(value.game)}}">
                            <param name=quality value=high>
                            <param name=bgcolor value=#000000>
                            <embed ng-src="{{picker(value.game)}}"
                                    quality=high
                                    bgcolor=#000000
                                    width=120
                                    height=20
                                    type="application/x-shockwave-flash"
                                    pluginspage="http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash">
                            </embed>
                    </object>
                </div>
            </div>

        </div>
    </div><!-- /.container -->
</div>