<div ng-controller="GamesController">
    <featured-banner type="games"></featured-banner>
    <div class="mcholder">
        <div class="container">
            <div class="custom-width">
                <div class="panel-og">
                    <div class="col-md-3">
                        <p>{{title}}</p>
                    </div>
                    <div class="col-md-6 col-md-offset-3">
                        <div class="row">
                            <a ui-sref="games" class="thumbnails-icon"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a>
                            <a ui-sref="gamesList" class="list-icon"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                            <div class="right-inner-addon ">
                                <i class="glyphicon glyphicon-search"></i>
                                <input type="search" class="form-control" placeholder="Game search"
                                       ng-model="searchText"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="game-holder">
                    <div class="col-md-3 wow animated zoomIn"
                         dir-paginate="(key, value) in data.allGames | itemsPerPage:20  | filter:searchText as results track by $index"
                         pagination-id="paginate" current-page="currentPage">
                        <div class="thumb">
                            <div class="hover">
                                <span ng-if="emptyCookie()"><a class="play-btn wow animated flipInY" data-toggle="modal" data-target="#myModal"><p>LOGIN</p></a></span>
                                <span ng-if="notEmptyCookie()">
                                    <a ng- class="play-btn wow animated flipInY"
                                       ng-click="onclickGameNewWindow(value.field_games_link, value.language,value.game)"
                                       data-toggle="modal" data-target="#myModal">
                                        <p>PLAY NOW</p>
                                    </a>
                                </span>
                            </div>
                            <img class="animated fadeIn" ng-src="{{imageUrl + value.thumbnail_image.filename }}"/>
                            <section>
                                <p class="jackpot"><span class="count"><ticker code="{{value.game}}"></ticker></span>
                                </p>
                                <p class="game-type">{{value.node_title}}</p>
                                <p class="game-category">{{value.game_category}}</p>
                                <p><test-ticker></test-ticker></p>
                            </section>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <pre ng-show="results.length == 0"><h1>Empty Results...</h1></pre>
                    <div ng-hide="results.length < 20" class="paginate">
                        <dir-pagination-controls pagination-id="paginate" auto-hide="true" template-url="bower_components/angularUtils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.container -->
    <login-modal modal="myModal"></login-modal>
</div>
