<div ng-controller="GamesController">
    <featured-banner type="games"></featured-banner>
    <div class="mcholder {{class}}">
        <div class="container">
            <div class="custom-width">
                <div class="panel-og">
                    <div class="col-md-3 col-xs-6">
                        <p>{{title}}</p>
                        <div class="right-inner-addon mobile">
                            <i class="glyphicon glyphicon-search"></i>
                            <input type="search" class="form-control" placeholder="Game search" />
                        </div>                          
                    </div>
                    <div class="col-md-6 col-md-offset-3 col-xs-6">
                        <div class="row">
                            <a ng-click="page='thumb'; class='thumbHolder'" class="thumbnails-icon"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span></a>
                            <a ng-click="page='list'; class='listHolder'" class="list-icon"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                            <div class="right-inner-addon desktop">
                                <i class="glyphicon glyphicon-search"></i>
                                <input type="search" class="form-control" placeholder="Game search" ng-model="searchText"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-switch on="page">
                    <div ng-switch-when="thumb">
                        <div class="game-holder">
                            <div class="col-md-3 col-xs-10 wow animated zoomIn"
                                 ng-repeat="(key, value) in data.allGames | filter:searchText as results track by $index">
                                <div class="thumb">
                                    <div class="hover">
                                <span ng-if="emptyCookie()">
                                    <a ng- class="play-btn wow animated flipInY"
                                       ng-click="onclickNewWindowDemo(value.game, value.node_title)">
                                        <p>DEMO</p>
                                    </a>
                                </span>
                                <span ng-if="notEmptyCookie()">
                                    <a ng- class="play-btn wow animated flipInY"
                                       ng-click="onclickGameNewWindow(value.field_games_link, value.language,value.game)">
                                        <p>PLAY NOW</p>
                                    </a>
                                </span>
                                    </div>
                                    <img class="animated fadeIn"
                                         ng-src="{{imageUrl + value.thumbnail_image.filename }}"/>
                                    <section>
                                        <p class="jackpot" ng-if="value.ticker_code !=''">
                                            <span  class="count">
                                            <ticker code="{{value.ticker_code}}"></ticker>
                                            </span>
                                        </p>
                                        <p class="game-type" ng-bind-html="value.node_title"></p>
                                        <p class="game-category">{{value.game_category}}</p>
                                    </section>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <pre ng-show="results.length == 0"><h1>Empty Results...</h1></pre>
                        </div>
                    </div>
                    <div ng-switch-when="list">
                        <div class="game-holder">
                            <ul class="gamelist">
                                <li ng-repeat="(key, value) in data.allGames | filter:searchText as results track by $index">
                            <span ng-if="emptyCookie()">
                                <a ng-click="onclickNewWindowDemo(value.game, value.node_title)">
                                    {{value.node_title}}
                                </a>
                            </span>
                             <span ng-if="notEmptyCookie()">
                            <a ng-click="onclickGameNewWindow(value.field_games_link, value.language,value.game)">{{value.node_title}}</a>
                            </span>
                                    <br/>
                                    <span>{{value.game_category}}</span>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                            <pre ng-show="results.length == 0"><h1>Empty Results...</h1></pre>
                        </div>
                    </div>
                    <div ng-switch-default>
                        <div class="game-holder">
                            <div class="col-md-3 col-xs-10 wow animated zoomIn"
                                 ng-repeat="(key, value) in data.allGames | filter:searchText as results track by $index">
                                <div class="thumb">
                                    <div class="hover">
                                <span ng-if="emptyCookie()">
                                    <a ng- class="play-btn wow animated flipInY"
                                       ng-click="onclickNewWindowDemo(value.game, value.node_title)">
                                        <p>DEMO</p>
                                    </a>
                                </span>
                                <span ng-if="notEmptyCookie()">
                                    <a ng- class="play-btn wow animated flipInY"
                                       ng-click="onclickGameNewWindow(value.field_games_link, value.language,value.game)">
                                        <p>PLAY NOW</p>
                                    </a>
                                </span>
                                    </div>
                                    <img class="animated fadeIn"
                                         ng-src="{{imageUrl + value.thumbnail_image.filename }}"/>
                                    <section>
                                        <p class="jackpot"  ng-if="value.ticker_code !=''">
                                            <span class="count">
                                                <ticker code="{{value.ticker_code}}"></ticker>
                                            </span>
                                        </p>
                                        <p class="game-type" ng-bind-html="value.node_title"></p>
                                        <p class="game-category">{{value.game_category}}</p>
                                    </section>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <pre ng-show="results.length == 0"><h1>Empty Results...</h1></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /.container -->
</div>
