<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
<script language="JavaScript" type="text/javascript" src="ptticker.js"></script>

</head>
<body>

<div><span id="text1"></span></div>
<div><span id="jackpot"></span></div>
<div><span id="jackpot1"></span></div>
<div><span id="text2"></span></div>
<div><span id="text3"></span></div>
<div><span id="text4"></span></div>
<div><span id="text5"></span></div>
<div><span id="text6"></span></div>

<script language="JavaScript">
jQuery(function() {
    setTimeout(function() {
        var ticker = new Ticker({
            info: 1,
            casino: 'playtech',
            currency: 'CNY',
            game:'pbj'
        });
        ticker.attachToTextBox('jackpot');
        ticker.tick();
        ticker.SetCurrencyPos(0);
        ticker.SetCurrencySign('Â¥');
    }, 1000);

    setTimeout(function() {
        var ticker1 = new Ticker({
            info: 1,
            casino: 'playtech',
            currency: 'CNY',
            game:'jb10p'
        });
        ticker1.attachToTextBox('jackpot1');
        ticker1.tick();
        ticker1.SetCurrencyPos(0);
        ticker1.SetCurrencySign('Â¥');
    }, 1000);
});
</script>
</body>
</html>